@model RabookShelf.Models.Book
@{
    ViewBag.Title = "Delete Book?!";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">Are you sure you want to delete @Model.BookDisplayText?</div>

@using (Html.BeginForm())
{
    <div class="pad-top">
        <button type="submit" class="btn btn-danger btn-lg margin-right">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-warning-sign"></span> Cancel
        </a>
    </div>

}  
