@model RabookShelf.Models.Book
@{
    ViewBag.Title = "Delete Book?!";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    Are you sure you want to delete this book?
</div>

<form method="post">
    <div class="pad-top">
        <button type="submit" class="btn btn-danger btn-lg margin-right">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        <a href="/" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </a>
    </div>
</form>