@model RabookShelf.RouteConfig

@{
    //unnecessary once a _ViewStart.cshtml file is added via Home/Index???
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
    ViewBag.Title = "Entry";
}


<h2>Entry</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <!--Put form html here-->
            <div class="col-md-6">

                <div class="form-group">
                   <label for="Title" class="control-label">Title</label>
                   <input type="text" id="Title" name="Title" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input type="text" id="FirstName" name="FirstName" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input type="text" id="LastName" name="LastName" class="form-control" />
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <textarea id="Description" name="Description" class="form-control" rows="14" cols="20"></textarea>
                </div>

            </div>

            <div class="col-md-6">
                <div class="pad-top">
                    <div class="col-md-3">
                        <input type="submit" value="Save" class="btn btn-default btn-primary" />
                    </div>
                        
                    <div class="col-md-3">
                        <input type="submit" value="Cancel" class="btn btn-default btn-success" />
                    </div>                
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
