@model List<RabookShelf.Models.Book>

@{
    //unnecessary once a _ViewStart.cshtml file is added via Home/Index???
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            @foreach (var b in Model)
            {
            <h5>@Html.ActionLink(b.BookDisplayText, "Book", new { id = b.Id })</h5>

            }             
        </div>
        <h5>Orderby Title</h5>
        <h5>Orderby Author</h5>
        <h5>Orderby Genre</h5>
        <h5>Orderby Type</h5>
        <h5>Orderby Size</h5>            
    </div>
    <div class="col-md-6">
        <img src="/Images"
             alt="some picture" class="img-responsive" />
    </div>
    <div>
        @Html.ActionLink("Add a Book", "Add")
    </div>

</div>


