@model List<RabookShelf.Models.Book>

@{
    ViewBag.ShowBackBar = true;
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-10">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="col-xs-push-2">
        <a href=@Url.Action("Add") class="btn btn-primary btn-sm margin-right">
            <span class="glyphicon glyphicon-book"></span><span class="hidden-xs">Add Book</span>
        </a>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> @TempData["Message"]
        </div>
    }
</div>
<div class="row">
    <div class="col-xs-4">Title
    </div>
    <div class="col-xs-4">Author
    </div>
    <div class="col-xs-2">Genre
    </div>
    <div class="col-xs-2">
    </div>
</div>
<hr />

@foreach (var b in Model)
{
    <div class="row">
        <div class="col-xs-4">
            @Html.ActionLink(b.BookDisplayText, "Edit", new { id = b.Id })
        </div>
        <div class="col-xs-4">
            Author
        </div>
        <div class="col-xs-2">
            Genre
        </div>
        <div class="col-xs-2">
            <a href="@Url.Action("Delete", new { id = b.Id })" class="btn btn-danger" btn-sm">
                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs">Delete</span>
            </a>
        </div>
        <hr />
        <br />
        
    </div>
}
