@model RabookShelf.RouteConfig

@{
    //unnecessary once a _ViewStart.cshtml file is added via Home/Index???
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
    ViewBag.Title = "Index";
}



<h2>Index</h2>

